- if like = post.like_user(1)
  = button_to blog_post_like_path(post.blog, post, like), class: "btn btn-danger", method: :delete, id: "like-button", remote: true do
    いいね解除
    %span.badge.badge-danger
- else
  = button_to blog_post_likes_path(post.blog, post, like), class: "btn btn-success", id: "like-button", remote: true do
    いいね
    %span.badge.badge-light
